Client/.vs/
/Client/StepInLife/obj
/Service/.vs/Service
/Service/packages/EntityFramework.6.1.3
/Service/Service/bin/Debug
/Service/Service/obj/Debug
/Service/Client/obj/Debug
/.vs
/Service/Client/bin/Debug
/Service/Client/obj/Release
/Service/Service/obj/Release
/Service/ServiceClient/obj/Debug
/Service/ServiceClient.Interfaces/obj/Debug
