<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IContract" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:5678/StepInLife" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IContract" contract="StepInLifeService.IContract"
                name="NetTcpBinding_IContract">
                <identity>
                    <userPrincipalName value="student@lan.itstep.kiev.ua" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>